
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="immagini/style.css">
<style>
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

  } 

  video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

  }
</style>
</head>
<body>

<header class="header">
<a href="index.html" class="logo">Portfoglio</a>
<i class='bx bx-menu' id="menu-icon"></i>
<nav class="navbar">
  <a href="index.html"  class="active">Home</a>
  <a onclick="myFunction()"><i class='bx bx-moon' ></i></a>
</nav>
</header>

<section class="services" id="services">
  <h2 class="heading">SISTEMI E RETI</h2>
  <p class="heading" style="font-size: 30px;">Questo portafoglio di competenze mira a sviluppare una solida base teorica e pratica nelle aree dei sistemi e delle reti informatiche, concentrandosi sull'utilizzo di Cisco Packet Tracer come principale strumento di simulazione. Cisco Packet Tracer è un software di simulazione di rete ampiamente utilizzato nell'ambito dell'ingegneria delle reti
     e delle telecomunicazioni ed è fondamentale per chiunque voglia lavorare in questo settore. Il portafoglio di competenze si suddivide in diverse fasi sicurezza e come arrivano le comunicazioni
    al internet</p>


    <img src="immagini/sistemi.jpg">


    <h2 class="heading">VIDEO 1 SIMULAZIONE</h2>
    <p class="heading" style="font-size: 30px;">Durante la simulazione, esploreremo anche le diverse opzioni di configurazione disponibili nei PC e come queste influenzano la comunicazione tra di essi. Saranno evidenziate le impostazioni di rete cruciali, come gli indirizzi IP e le tabelle di routing, per fornire una visione completa del processo di configurazione. Infine, discuteremo delle best practice nella progettazione e implementazione di reti virtuali utilizzando Cisco Packet Tracer, offrendo spunti utili per chiunque voglia approfondire le proprie competenze nella gestione delle reti informatiche.</p>
    <video src="immagini/video1.mp4" style="width: 1300px; height: 1000px;text-align: center;" controls ></video>
    <h2 class="heading">VIDEO 2 SIMULAZIONE</h2>
    <p class="heading" style="font-size: 30px;">In questa simulazione, estenderemo ulteriormente l'ambito introducendo un hub che collega cinque PC in una rete locale. Esploreremo le dinamiche di comunicazione attraverso questo dispositivo di rete e analizzeremo come l'utilizzo di un hub influenzi la trasmissione dei dati all'interno della rete.</p>
    <video src="immagini/video2.mp4" style="width: 1300px; height: 1000px;text-align: center;" controls ></video>
    <h2 class="heading">VIDEO 3 SIMULAZIONE</h2>
    <p class="heading" style="font-size: 30px;">Nel contesto di Cisco Packet Tracer, uno switch è un dispositivo di rete che opera a livello 2 del modello OSI, il livello di collegamento dati. La sua funzione principale è quella di instradare i pacchetti dati all'interno di una rete locale in base agli indirizzi MAC.</p>
    <video src="immagini/video3.mp4" style="width: 1300px; height: 1000px;text-align: center;" controls ></video>
    <h2 class="heading">VIDEO 4 SIMULAZIONE</h2>
    <p class="heading" style="font-size: 30px;">In un ambiente di simulazione su Cisco Packet Tracer con un DNS server, un HTTP server, tre PC e uno switch, si può creare una configurazione di rete che illustra il funzionamento di questi componenti.</p>
    <video src="immagini/video4.mp4" style="width: 1300px; height: 1000px;text-align: center;" controls ></video>
    <h2 class="heading">Documentazioni ed ecc.</h2>

    <div class="portfolio-container">
      <div class="portfolio-box">
        <img src="immagini/sistemi.jpg" alt="" style="height: 300px;">
          <div class="portfolio-layer">
              <h4>Relazione lan</h4>
              <a href="immagini/relazione .pdf" download="immagini/relazione .pdf"><i class='bx bx-link-external'></i></a>
          </div> 
         </div>

         <div class="portfolio-box" >
          <img src="immagini/sistemi.jpg" alt="" style="height: 300px;">
            <div class="portfolio-layer">
                <h4>Relazione cisco </h4>
                <a href="immagini/relazione 2.pdf" download="immagini/relazione 2.pdf"><i class='bx bx-link-external'></i></a>
            </div> 
           </div>

           <div class="portfolio-box" >
            <img src="immagini/sistemi.jpg" alt="" style="height: 300px;">
              <div class="portfolio-layer">
                  <h4>Esperienze cisco packet tracer</h4>
                  <a href="immagini/relazione .pdf" download="immagini/relazione .pdf"><i class='bx bx-link-external'></i></a>
              </div> 
             </div>
      </div>
    </div>


<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="immagini/script.js"></script>
</body>
</html>